header{
 font-family: open sans;
}
/*nabar style elements*/
.navbar {
    border-radius: 0;
    min-height: 50px;
    width: 100%;*/
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.navbar-brand{
    font-size: 24px;
}

.navbar-header{
     font-family: opensans-bold;
     color: #147893;
     font-size: 24px;
     min-height: 50px;
}

.navbar-default{
    background-color: #fff;
    border-color: #fff;
}

.navbar-default .navbar-brand {
    color: #147893;
}
        /* Add a gray background color and some padding to the footer */
/*.container-fluid text-center {
    background-color: #147893;
}*/

li{
  font-size: 16px;
  color: white;

}

body {
    font-family: ubuntu;
    font-size: 14px;
    color: #147893;
    background-color: white;
}

.container-fluid text-center {
    background-color: #147893;
    padding: 25px;
}

/*start font styles*/
h1{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    font-size:78px;
    font-family: WorkSans-SemiBold;
    color:  white;
}

h2{
    font-size:20px;
    font-family: WorkSans-SemiBold;
    color:  #00273C;
}

h3{
    padding: 60px;
    font-size:40px;
    font-family: WorkSans-SemiBold;
    color:  white;
    background-color: #00273C;
}
/*end font styles*/

/*Start of footer css code*/
footer {
  display: block;
  bottom: 0px;
  height: 50px;
  justify-content: left;
/*  position: fixed;*/
  overflow: hidden;
  padding-top: 20px;
  font-family: WorkSans-regular;
  font-size: 12px;
  color: #5F7076;
  background-color: #E4D062;
  width: 100%;
  text-decoration: none;
  text-align: left;
}

footer a {
  margin-bottom: 0px;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  font-family: WorkSans-regular;
  font-size: 12px;
  color: #5F7076;
}

.footer-right {
  overflow: hidden;
  font-family: WorkSans-semibold;
  float: right;
}

/*carasel styling*/
/*.carousel-indicators {
    position: relative;
}
*/
.carousel-inner{
     display: block;
     max-width: 100%;
     max-height: 100% !important;
}
